{
    "teos10_soundings":  31,
    "invalid_variable_400":  true,
    "volume_grid_20x":  {
                            "fail":  0,
                            "success":  20
                        },
    "teos10_valid_200":  true,
    "liveness_200":  true,
    "agent":  "H4",
    "commit":  "d353a9f33581e90beace57d0d22dc21007ce6c38",
    "decision":  "H4 APPROVED",
    "backend_pid":  6432,
    "readiness_200":  true,
    "teos10_mld_m":  9.5729970932006836
}
